section.chatroom-card {
  background: #f2f2f2;
  border: 1px solid #d6d6d6;
  width: 49%;
  margin: 0.5%;
  float: left; }
  section.chatroom-card p {
    margin: 0;
    padding: 5px;
    color: #999999;
    float: right; }
  section.chatroom-card h2 {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 32px;
    color: #262626; }
  section.chatroom-card > a {
    margin: 0;
    padding: 0; }
  section.chatroom-card paper-button.green {
    margin: 1%;
    float: right;
    background: #159c81;
    border: 1px solid #0f6f5c;
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    border-radius: 2px;
    text-transform: none; }
    section.chatroom-card paper-button.green:hover {
      background: #107360; }
